body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #a8e6cf, #dcedc1);
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  justify-content: center; 
  padding: 20px;
  border-radius: 12px;
}

img {
  border: 5px solid #555;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

audio {
  margin-top: 20px;
}

#current-time {
  margin-top: 15px;
  font-weight: bold;
}
#routine-message {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #444;
}

