#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1{
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
body {
  margin: 0;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #dfe9f3, #ffffff); /* soft blue to white */
  text-align: center;
}

img {
  border-radius: 50%;
  object-fit: cover;
  height: 150px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(2);
}

.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.pokemon-grid img {
  flex: 1 1 200px;
  max-width: 200px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

